<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Prueba comunicación Modbus</title>
  <header>Prueba de comunicación Modbus</header>
</head>
<body>
  <form action="" method = "POST">
    {% csrf_token %}
    
    <label for="Cliente">Cliente</label>
    <select name="Cliente">
      {% for x in Dispositivos %}
      <option value="{{x.Cliente}}">{{x.Cliente}}</option>
      {% endfor %}
    </select>


    <label for="Cliente">Proyecto</label>
    <select name="Cliente">
      {% for x in Dispositivos %}
      <option value="{{x.Proyecto}}">{{x.Proyecto}}</option>
      {% endfor %}
    </select>
    
    <label for="Cliente">ID LabVIEW</label>
    <select name="ID_Labview">
      {% for x in Dispositivos %}
      <option value="{{x.ID_Labview}}">{{x.ID_Labview}}</option>
      {% endfor %}
    </select>

    <button type = "submit" value = "OK">Prueba de comunicación</button>
  </form>
  <header>{{Registros}}</header>
</body>
</html>
