<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <meta charset="UTF-8">
  <title>Prueba comunicación Modbus</title>
  <header>Prueba de comunicación Modbus</header>
</head>
<body>

  <form action="" method = "POST">
    {% csrf_token %}
    <select name = "Dispositivo" class="custom-select custom-select-lg mb-3">
      {% for x in Dispositivos %}
      <option value="{{x.ID_Labview}}" >{{x.ID_Labview}}</option>
      {% endfor %}
    </select>
    <input class="btn btn-primary" type="submit" value="Submit">
  </form>

<table class="table caption-top">
  <caption>Registros interrogados {{Com}}</caption>
  <thead>
    <tr>
      <th scope="col">Cliente</th>
      <th scope="col">{{Cliente}}</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Proyecto</th>
      <td>{{Proyecto}}</td>
    </tr>
    <tr>
      <th scope="row">IP</th>
      <td>{{IP}}</td>
    </tr>
    <tr>
      <th scope="row">Puerto</th>
      <td>{{Puerto}}</td>
    </tr>
    <tr>
      <th scope="row">Registro de Inicio</th>
      <td>{{Registros}}</td>
    </tr>
    <tr>
      <th scope="row">Cantidad de Registros Interrogados</th>
      <td>{{Cantidad_de_Registros}}</td>
    </tr>
    <tr>
      <th scope="row">Dispositivo de Comunicación</th>
      <td>{{Dispositivo_de_Comunicación}}</td>
    </tr>
    <tr>
      <th scope="row">Marca de Sensor</th>
      <td>{{Marca_Sensor}}</td>
    </tr>
    <tr>
      <th scope="row">Modelo del Sensor</th>
      <td>{{Modelo_Sensor}}</td>
    </tr>
    <tr>
      <th scope="row">Tipo de Medición</th>
      <td>{{Medición}}</td>
    </tr>
    <tr>
      <th scope="row">ID Modbus</th>
      <td>{{Modbus_ID}}</td>
    </tr>
  </tbody>
</table>

</body>
</html>
